.section-1{
    .sec-1-1{
        direction: rtl;
        padding-top: 150px;
        display: flex;
        justify-content: center;
        height: 210px;
        
        gap: 30px;
        .sec-1-1-1{
            direction: rtl;
            
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                li{
                    cursor: pointer;

                    text-decoration: none; 
                    list-style: none;
                }
            }
            
        }
        .sec-1-2-0{
            overflow: scroll;
            width: 500px;
            .sec-1-2-1{
                

                direction: rtl;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
            .sec-1-2-2{
                display: none;
                form{
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    input{
                        height: 50px;
                        padding-right: 5px;

                    }
                }
            }
            .sec-1-2-3{
                
                display: flex;
                display: none;
                flex-direction: column;
                div{
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 5px;
                    h5{
                        overflow: scroll;
                        
                    }
                    .h5-1{
                        width: 150px;
                    }
                    h5::-webkit-scrollbar{
                        display: none;
                    }
                }
            }
        }
        .sec-1-2-0::-webkit-scrollbar{
            display: none;
        }
    }
}